.heading {
  &.h2-blog {
    padding: var(--mobile--padding);
    margin-top: 3rem;
    font-weight: 700; letter-spacing: -1px;
    font-size: 2rem;
  }
}
.date {
  margin: 1rem 0 0.5rem 0;
  font-size: 0.8rem; font-weight: 500;
  padding: var(--mobile--padding);
}
.author {
  margin: 0.5rem 0 2rem 0;
  font-size: 0.8rem; font-weight: 500;
  padding: var(--mobile--padding);
  font-style: italic;
}

.blog-lead {
  line-height: 1.5;
  max-width: 600px;
  padding: var(--mobile--padding);
  p {
    font-weight: 400;
  }
}

.blog--figure {
  margin: 24px auto;
  &>* {
    max-width: 90%;
  }
  .blog--figure--image {
    text-align: left;
  }
  .blog--figure--caption {
    font-size: 0.8rem; font-style: italic;
    .blog--figure--text {
      margin-top: 4px;
      padding: 0;
    }
  }
}

.blog--post--header {
  margin: 2rem 0 1.5rem 0;
}

.blog--code--indent {
  padding-left: 1rem;
}

.blog--code--indent--more {
  padding-left: 2rem;
}

.codepen--embed {
  height: 600px;
}

hr {
  margin-top: 3rem;
  width: 50%;
  border: .6px solid rgba(0,0,0,.15);
}

@media screen and (min-width: 800px) {
  .heading { 
    &.h2-blog {
    margin: 4rem 0 .5rem 0;
    font-size: 3.6rem;
    grid-column: 3/-1;
    }
  }

  .date {
    grid-column: 3/8;
  }

  .author {
    grid-column: 3/8;
  }

  .blog-lead {
    padding-left: 24px;
		max-width: 600px;
    font-size: 1.2rem; line-height: 1.75;
    grid-column: 3/11;
    p {
      max-width: 90%;
      margin-bottom: 1.5rem;
    }
  }

  .blog--figure {
    max-width: 90%;
    &>* {
      max-width: 100%;
      width: 100%;
    }
  }

  .blog--post--header {
    padding: 0 2rem;
  }

  .link--to--top {
    margin: 1rem 0 2rem 0;
    display: block;
  }  

  .blog--code {
    margin: 1rem auto 2rem auto;
    width: calc(100% - 4rem);
    display: block;
  }

  hr {
    grid-column: 3/11;
    border: .6px solid rgba(0,0,0,.15);
  }
}

@media screen and (min-width: 1024px) {

  .blog-lead {
    max-width: 800px;
  }

  .blog--post--header {
    max-width: 90%;
    margin: 2.5rem auto 1.5rem auto;
  }

  .link--to--top {
    margin: 2rem 0 3rem 0;
  }  

  .blog--code {
    width: calc(100% - 5rem);
  }
}

@media screen and (min-width: 1300px) {

  .heading {
    .h2-blog {
      grid-column: 4/-1;
    }
  }

  .date {
    grid-column: 4/9;
  }
  
  .author {
    grid-column: 4/9;
  }

  .blog-lead {
    grid-column: 4/11;
  }
  
}




.photo-grid {
  margin: 3rem;
  width: calc(100% - 6rem);
  display: grid; grid-column: 1/-1;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 3rem; grid-auto-rows: 250px; grid-auto-flow: row dense;
  @media screen and (min-width: 382px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .regular {
    height: auto; width: auto; display: block;
    position: relative; transform: none; overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &:hover, &:focus {
      .img {
        transform: scale(1.05); transition: all 220ms ease-in-out;
      }
      &:after {
        background-color: rgba(13,13,13,.6); transition: all 220ms ease-in-out;
      }
    }
    &:after {
      content: '';
      height: 100%; width: 100%;
      position: absolute; top: 0; left: 0; z-index: 3;
      transition: all 220ms ease-in-out;
    }
  }
  .img {
    width: 100%; height: 100%;
    object-fit: cover;
    transition: all 220ms ease-in-out;
  }
}

@media screen and (min-width: 767px) {
  .tall {
    grid-row-end: span 2;
  }
  .wide {
    grid-column-end: span 2;
  }
  .intro {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}