.header--two--blog {
  padding: var(--mobile--padding);
  margin-top: 3rem;
  font-weight: 800;
  font-size: 2rem;
}
.blog--info--date {
  margin: 2rem 0 0.5rem 0;
  font-size: 0.8rem; font-weight: 500;
  padding: var(--mobile--padding);
}
.blog--info--name {
  margin: 0.5rem 0 2rem 0;
  font-size: 0.8rem; font-weight: 500;
  padding: var(--mobile--padding);
  font-style: italic;
}
.section--text--blog {
  line-height: 1.4rem;
  max-width: 600px;
  padding: var(--mobile--padding);
  .section--paragraph {
    font-weight: 400;
  }
}
.blog--figure {
  margin: 24px auto;
  &>* {
    max-width: 90%;
  }
  .blog--figure--image {
    text-align: left;
  }
  .blog--figure--caption {
    font-size: 0.8rem; font-style: italic;
    .blog--figure--text {
      margin-top: 4px;
      padding: 0;
    }
  }
}

@media screen and (min-width: 800px) {
  .header--two--blog {
    margin: 4rem 0 1rem 0;
    font-size: 3.6rem;
    grid-column: 3/8;
  }
  .blog--info--date {
    grid-column: 3/8;
  }
  .blog--info--name {
    grid-column: 3/8;
  }
  .section--text--blog {
    padding-left: 24px;
		max-width: 600px;
    font-size: 1.2rem; line-height: 2rem;
    grid-column: 3/11;
    .section--paragraph {
      max-width: 90%;
    }
  }
  .blog--figure {
    max-width: 90%;
    &>* {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .section--text--blog {
    max-width: 800px;
  }
}

@media screen and (min-width: 1300px) {
  .header--two--blog {
    grid-column: 5/9;
  }
  .blog--info--date {
    grid-column: 5/9;
  }
  .blog--info--name {
    grid-column: 5/9;
  }
  .section--text--blog {
    grid-column: 5/11;
  }
}