footer {
  padding: 0 20px;
  background-color: var(--grey); color: var(--white);
  .container {
    margin: 0 auto; padding: 0 1rem;
    text-align: center;
    svg {
      margin: 2rem 0.5rem 0 0.5rem; padding: 0;
      height: 2rem;
      display: inline-block;
      transform: none; transition: transform 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
      text-shadow: 2px 2px 0px red;
      &:hover {
        cursor: pointer;
        transform: scale(1.15); transition: transform 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
    ul {
      margin: 0; padding: 1rem 0 0 0;
      list-style-type: none;
      a {
        color: var(--white);
        text-align: left; text-decoration: underline; line-height: 1.4rem;
        &:hover {
          color: var(--very-off-white);
        }
      }
    }
    p {
      margin: 0; padding: 1rem 0 2rem 0;
      font-size: 1.2rem; font-weight: 500; text-align: center; line-height: 1.8rem;
    }
  }
}


@media screen and (min-width: 800px) {
  footer {
    .container {
      svg {
        margin: 3rem 0.5rem 0 0.5rem;
      }
      p {
        padding: 1rem 0 3rem 0;
  
      }
    }
  }
}