:root {
	--white: 					hsl(0, 0%, 100%);
	--off-white: 			hsl(0, 0%, 96%);
	--very-off-white:	hsl(0, 0%, 74%);

	--black: 		hsl(0, 		0%, 	6%);
	--off-grey:	hsl(240, 	3%,		12%);
	--grey: 		hsl(240, 	6%,		18%);

	--red: 			hsl(350,	100%,	41%);
	--pink: 		hsl(295,	100%,	41%);
	--purple:		hsl(265,	100%,	41%);
	--darkblue:	hsl(235,	91%,	41%);
	--yellow: 	hsl(39, 	100%, 64%);
	--yellow-2:	hsl(49, 	85%, 	49%);

	--grad-white: 		linear-gradient(to bottom right, var(--white), var(--off-white));

	--grad-home: 			linear-gradient(to bottom right, var(--red), var(--pink), var(--purple));
	--faux-home: 			linear-gradient(to right, var(--red), var(--pink), var(--purple));
	--grad-port: 			linear-gradient(to bottom right, #0980B2, rgb(0, 202, 51));
	--grad-blog: 			linear-gradient(to bottom right, #FFF419, rgb(255, 163, 25), #FF4C0D);
	--grad-contact: 	linear-gradient(to bottom right, rgb(89, 43, 141), rgb(199, 0, 189));

	--none: rgba(0,0,0,0);
	--mobile--padding: 0 20px;

}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}