header {
	padding: 0 20px;
	height: 100vh;
	position: relative; overflow: hidden;
	.content {
		width: 90%; max-width: 1300px;
		position: absolute; top: 50%; transform: translateY(-50%);

		p {
			font-size: 1.618rem; font-weight: 700;
			.flashing {
				opacity: 1; animation: flasher 990ms infinite;
			}
		}
	}
	.skiplink {
		height: 1px; width: 1px;
		position: absolute;	top: -500px; left: 0;
	}
	.more-info {
		position: absolute; bottom: 1rem; left: 5%;
		display: flex;
		p {
			margin: .8rem 0 1rem;
		}
		svg {
			margin: auto 0 auto .6rem;
			height: 30px;
		}
	}
}

@keyframes flasher {
	0% {
		opacity: 1;
	}
	49% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hovering {
	0% {
		transform: translateY(0px) scale3d(1,1,1);
	}
	20% {
		transform: translateY(0px) scale3d(1,1,1);
	}
	22% {
		transform: translateY(10px) scale3d(1.15,1.2,1);
	}
	24% {
		transform: translateY(0px) scale3d(1.2,1.15,1);
	}
	26% {
		transform: translateY(10px) scale3d(1.15,1.2,1);
	}
	28% {
		transform: translateY(0px) scale3d(1,1,1);
	}
	100% {
		transform: translateY(0px) scale3d(1,1,1);
	}
}

@media screen and (min-width: 800px) {
	header {
		.content {
			width: calc(95% - 40px);
			left: 50%; transform: translate(-50%, -50%);
			p {
				font-size: 2.618rem;	text-align: right;
			}
		}
		.arrow {
			width: 40px;
			position: absolute; bottom: 30px; right: 50%; transform: translateX(-50%);
			animation: hovering 10s infinite;
		}
	}
}