.item-wrapper {
  margin: 0 0 2.5rem; padding: 2rem 1rem 4rem 1rem;
  width: auto;
  display: block; overflow: hidden;
  position: relative; z-index: 7; 
  background-color: var(--grey); color: var(--white); 
  font-size: .9rem; text-decoration: none;
  .link-svg {
    height: 30px;
    position: absolute; right: 1rem; bottom: 1rem;
  }
}

.display-button {
  margin: 1rem auto;
  padding: 3rem 0;
  text-align: center;
  font-size: 2rem; font-weight: 700;
  text-decoration: underline; color: var(--grey);
  height: 100%; width: 100%;
  svg {
    margin-left: 1rem; height: 40px; transform: translateY(5px);
  }
}

.portfolio--icon {
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: inline-block;
  height: 50px;
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 800px) {
  .item-wrapper {
    box-shadow: -8px 12px 0px var(--off-grey);
    transform: none;
    transition: all 1600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 2rem 3rem 3rem;
    &:hover, &:focus, &:active {
      box-shadow: 0 0 0px var(--off-grey);
      transform: translate(-8px, 12px);
      transition: all 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  .display-button {
    margin: 2rem auto 0 auto;
    padding-top: 8rem;
    svg {
      margin-left: 1rem; height: 50px; transform: translateY(5px);
    }
  }

  .portfolio--button {
    width: 250px;
  }
  .portfolio--icon {
    margin: 0.5rem 1rem 0.5rem 0;
    height: 80px;
  }
  
}

@media screen and (min-width: 1350px) {
  .grid {
    .grid-item {
      .item-wrapper {
        padding: 3rem 1rem 4rem 3rem;
      }
    }
    h3 {
      font-size: 1.4rem;
    }
    p, a {
      font-size: 1rem;
    }
  }
  .portfolio--icon {
    margin: 1.5rem 1rem 2rem 0;
  }
}