.section--text--wrapper {
  margin-bottom: 2rem;
  text-align: center;
}




.portfolio--grid {
  padding: var(--mobile--padding);
  width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}

.portfolio--grid--item {
  max-height: 300px;
  position: relative;
  height: auto;
  width: auto;
  overflow: hidden;
  &:last-child {
    margin-bottom: 5rem;
  }
}

.grid--item--wrapper {
  padding: 2rem 1rem 3rem 1rem;
  position: absolute;
  top: 50%;
  transform: translateY( -50%);
  z-index: 4;
  color: #FFF;
}

.item--heading {
  font-size: 1.2rem;

}

.item--desc {
  max-width: 550px;
  font-size: .9rem;
}

.item--link {
  color: var(--grey);
  font-size: .9rem;
}

.item--img {
  height: 100%;
  object-fit: cover;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}




.portfolio--icon {
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: inline-block;
  height: 50px;
  &:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 800px) {
  .section--text--wrapper {
    margin: 2rem 0 0 0;
    padding: 0 2rem;
    text-align: center;
    width: 75%;
    max-width: 500px;
  }
  .portfolio--grid {
    padding-bottom: 3rem;
    grid-column: 1/-1;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    .portfolio--grid--item {
      &:last-child {
        margin: 0;
      }
    }
  }
  .grid--heading {
    grid-column: 1/-1;
    margin: 5rem 0 4rem 0;
    text-align: center;
  }
  .grid--item--wrapper {
    left: 2rem;
  }
  .portfolio--button {
    width: 250px;
  }
  .portfolio--icon {
    margin: 0.5rem 1rem 0.5rem 0;
    height: 80px;
  }
}
@media screen and (min-width: 1350px) {
  .section--text--wrapper {
    max-width: 700px;
  }
  .portfolio--icon {
    margin: 1.5rem 1rem 2rem 0;
  }
}