@import 'globals';
@import 'fonts';
@import 'grid';

@mixin fonts {
	font-family: 'PT Sans', 'Open Sans', 'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
	margin: 0; padding: 0;
	background: var(--white); color: var(--grey);
	@include fonts; font-size: 100%; font-weight: normal;
}

main {
	position: relative; overflow: hidden;
}

@import 'header';
@import 'nav';


.red-blue {
	background: var(--grad-home); color: var(--white);
}
.blue-green {
	background: var(--grad-port); color: var(--white);
}
.orange-yellow {
	background: var(--grad-blog); color: var(--grey);
}
.purple-pink {
	background: var(--grad-contact); color: var(--white);
}
.section--darkgradient {
	background: linear-gradient(165deg, hsl(240, 5%, 12%) 60%, hsl(240, 5%, 18%) 40%, hsl(240, 5%, 18%) 40%);
	color: var(--white);
}

.heading {
	margin: 0; padding: 0;
	font-weight: 700; letter-spacing: -1px;
	font-family: 'Open Sans', 'PT Sans', 'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif;
	&.h1 {
		margin: 0 0 1.33rem;
		font-size: 4.236rem; line-height: 1.115;
	}
	&.h2 {
		padding: 5rem 0 2rem;
		font-size: 2.618rem;
	}
	&.h3 {
		padding: 0 0 1.4rem;
		font-size: 2.618rem;
	}
}

p {
	margin: 0 0 1rem;
	&.lg {

	}
	&.md {
		font-size: 1.25rem; line-height: 1.5;
	}
	&.sm {
		font-size: 1.115rem; line-height: 1.45;
	}
}

.text-link {
	position: relative;
	text-decoration: none;
	&::after {
		content: '';
		height: .08rem;
		position: absolute; left: 0rem; right: 0rem; bottom: .01rem;
	}
	&.link-dark {
		color: var(--grey);
		&::after {
			background: var(--grey);
		}
		&:hover {
			color: var(--black);
			&::after {
				background: var(--black);
			}
		}
	}
	&.link-light {
		color: var(--white);
		&::after {
			background: var(--white);
		}	
		&:hover {
			color: var(--very-off-white);
			&::after {
				background: var(--very-off-white);
			}
		}	
	}
}

.full-height {
	min-height: 100vh;
}

.half-height {
	min-height: 50vh; 
}

.full-height, .half-height {
	align-items: center;
}

.projects {
	margin: 4rem 0 5rem;
	.h2 {
		margin: 0 0 .5rem;
		text-align: center;
	}
}

.display-text {
	p {
		margin: 0 auto;
		font-size: 2.4rem; font-weight: 600; line-height: 1.5;
	}
	a {
		text-decoration: none; color: var(--grey); background-image: var(--faux-home);
		background-size: 100% .2rem; background-position: 0 88%; background-repeat: no-repeat;
		transition: background-size 440ms, background-image 440ms, color 440ms;
		&:hover, &:focus, &:active {
			color: var(--white); background-image: var(--grad-home);
			background-size: 100% 100%;
			transition: background-size 770ms cubic-bezier(0.075, 0.82, 0.165, 1), background-image 660ms, color 660ms;
		}
	}
}

form {
	margin: 0 auto;
	width: 100%; max-width: 700px!important;
	.form-wrapper {
		position: relative;
	}
	label {
		position: absolute; top: 12px; z-index: 4;
		font-size: 1.2rem; color: var(--very-off-white);
		transform-origin: left;
		transition: transform 220ms ease-in-out, color 220ms;
		&:hover {
			cursor: text;
		}
	}
	input, textarea {
		padding: 12px 0; width: 100%;
		display: block; position: relative;
		@include fonts; font-size: 1.2rem; color: var(--grey);
		border: none; border-bottom: 2px solid var(--very-off-white);
		&:focus, &:valid {
			~ span {
				transform: scaleX(1);
			}
			~ label {
				transform: translateY(-36px) scale(.8); color: var(--off-grey);
			}
		}
		&::-webkit-input-placeholder { color: transparent; }
		&::-moz-placeholder { color: transparent; }
		&:-ms-input-placeholder { color: transparent; }
		&:-moz-placeholder { color: transparent; }
	}
	input {
		
	}
	textarea {
		min-height: 150px; max-height: 300px;
		resize: vertical;
	}
	span {
		transform: scaleX(0); transform-origin: left;
		position: absolute; left: 0; bottom: 0; right: 0;
		background: var(--grad-contact); height: 2px; z-index: 4;
		transition: transform 440ms ease-in-out;
	}
	button {
		margin: 1.2rem 0 0 auto; padding: .9rem 1.8rem;
		background: var(--grad-contact); color: var(--white);
		@include fonts; font-size: 1.1rem;
		box-shadow: -3px 4px 0 var(--off-grey);
		border: none; transition: all 1600ms cubic-bezier(0.075, 0.82, 0.165, 1);
		&:hover, &:focus, &:active {
			cursor: pointer;
			transform: translate(-3px, 3px); box-shadow: 0 0 0 var(--off-grey);
			transition: all 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}
}


@import 'portfolio';
@import 'blog';
@import 'form';
@import 'footer';

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
	.display-text {
		p {
			font-size: 3.2rem;
		}
	}
}

@media screen and (min-width: 1200px) {
	.display-text {
		p {
			font-size: 4rem;
		}
	}
}

@media screen and (min-width: 800px) {
	.heading {
		&.h1 {
			text-align: left;
			font-size: 6.854rem; 
		}
		&.h2 {
			padding: 0;
			font-size: 4.236rem;
		}
	}
}