:root {
	--white: #FFF;
	--off-white: #F5F5F5;
	--very-off-white: #BDBDBD;
	--grey: #303036;
	--off-grey: #1e1e20;
	--black: #0D0D0D;
	--red: #F00D2E;
	// --color--darkred: #D20D2E;
	--darkred: linear-gradient(to bottom right, #D20D2E, rgb(212, 53, 151));
	--blue: #1495CC;
	// --darkblue: #0980B2;
	--darkblue: linear-gradient(to bottom right, #0980B2, rgb(0, 202, 51));
	--yellow: #FFBF47;
	// --bg--yellow: #FFF419;
	--bg--yellow: linear-gradient(to bottom right, #FFF419, rgb(255, 163, 25));
	--bg--yellow--2: #e6bf13;
	// --green: rgb(89, 43, 141);
	--green: linear-gradient(to bottom right, rgb(89, 43, 141), rgb(199, 0, 189));
	--none: rgba(0,0,0,0);
	--twitter--blue: #00aced;
	--mobile--padding: 0 20px;
}

@mixin fonts {
	font-family: 'Avenir Next', 'Raleway', 'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
	margin: 0; padding: 0;
	background: var(--white); color: var(--grey);
	@include fonts; font-size: 100%; font-weight: 500;
}

main {
	position: relative; overflow: hidden;
}

@import 'header';
@import 'nav';

.heading {
	margin: 0; padding: 0;
	font-weight: 700; letter-spacing: -1px;
	&.h1 {
		font-size: 4.236rem; line-height: 1.115;
	}
	&.h2 {
		padding: 5rem 0 2rem;
		font-size: 2.618rem;
	}
}
.text-link {
	position: relative;
	text-decoration: none;
	&::after {
		content: '';
		height: .08rem;
		position: absolute; left: 0rem; right: 0rem; bottom: .01rem;
	}
	&.link-dark {
		color: var(--grey);
		&::after {
			background: var(--grey);
		}
		&:hover {
			color: var(--black);
			&::after {
				background: var(--black);
			}
		}
	}
	&.link-light {
		color: var(--white);
		&::after {
			background: var(--white);
		}	
		&:hover {
			color: var(--very-off-white);
			&::after {
				background: var(--very-off-wwhite);
			}
		}	
	}
}
.section {
	padding: var(--mobile--padding);
	&.right {
		padding-bottom: 2rem;
	}
	&.title {

	}
	&.text {
		line-height: 1.5;
		p, ul, ol {
			margin: 0; padding-bottom: 2rem;
			&:last-child {
				padding-bottom: 3rem;
			}
		}
	}
	&.full {
		p {
			margin: 0 auto; padding: 25vh 0;
			font-size: 1.75rem; font-weight: 600; line-height: 1.5;
		}
	}
	&.dark {
		background-color: var(--grey);
		color: var(--white);
	}
}

.section--darkgradient {
	background: linear-gradient(165deg, #1e1e20 60%, #2b2b30 40%, #2b2b30 40%);
	color: var(--white);
}

@import 'portfolio';
@import 'blog';
@import 'form';
@import 'footer';

@media screen and (min-width: 800px) {
	main {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
	.section {
		padding: 5rem 0 4rem;
		&.left {
			grid-column: 1/7;
			width: 100%;
		}
		&.right {
			grid-column: 7/13;
		}
		&.title {
			display: block;
			text-align: center;
			.heading {
				&.h2 {
				margin: 0 auto;
				padding: 0 2rem 0 4rem;
				max-width: 80%;
				}
			}
		}
		&.text {
			line-height: 1.75;
			p {
				margin: 0 auto; padding: 0 2rem;
				max-width: 600px;
				font-size: 1.1rem; text-align: left;
				&.list {
					p {
						padding: 0 2rem 2rem;
					}
				}
			}
			ul {
				margin-left: 2rem;
				}
		}
		&.full {
			padding: 5rem 0;
			height: calc(100vh - 10rem);
			grid-column: 1/13; display: grid; grid-template-rows: 100%; align-items: center;
			p {
				padding: 0;
				max-width: 80%;
				font-size: 2rem; line-height: 1.75;
			}
		}
	}
	.heading {
		&.h1 {
			text-align: left;
			font-size: 6.854rem; 
		}
		&.h2 {
			padding: 0;
			font-size: 4.236rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.heading {
		&.h2 {
		}
	}
	.section {
		&.text {
			p {
				margin: 0 auto;
			}
		}
	}
}