@font-face {
  font-family: 'Open Sans';
  font-weight: light;
  font-display: swap;
  src: url(OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: light; font-style: italic;
  font-display: swap;
  src: url(OpenSans-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-display: swap;
  src: url(OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: normal; font-style: italic;
  font-display: swap;
  src: url(OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-display: swap;
  src: url(OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold; font-style: italic;
  font-display: swap;
  src: url(OpenSans-BoldItalic.ttf) format('truetype');
}